body {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera"; 
    text-align: center;
    margin-top: 20px;
    background-color: #f7d335;
}

canvas {
	margin-top: -30px;
}
