body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 20px auto 20px auto;
    font-size:  1.5em;
    font-weight: 700;
    background-color: #f7d335;
    background-image: url("../images/background.png");
    background-image: url("../images/background.png") no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lives {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	display: inline;
	position: absolute;
	font-size:  1em;
	font-weight: 700;
	margin: 40px 0 0 200px;
	padding: 5px;
	color: #fffafa;
	text-align: right;
}

#score {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	display: inline;
	position: absolute;
	font-size:  1em;
	font-weight: 700;
	margin: 40px 0 0 -300px;
	padding: 5px;
	color: #fffafa;
	text-align: left;
}

canvas {
	margin-top: -30px;
}
